common*
common/*
*/*~
*/#*
*/*/*~
*/*/#*
*/*/*/*~
*/*/*/#*
*/*/*/*/*~
*/*/*/*/#*
*.exe
log/*
log*
log_old*
*.xlsx
*.csv
*.txt
!rx_summary*.txt
!*LUT*.csv
!input_fp.csv
*.root
*.log 
.*swp*
*.o
output*
output/*
dat
dat*
cfgmap/slow_control_configuration
dat_old
.nfs*
PU*
AutoDict*
EMPTools/CMSSWCode
EMPTools/CMSSWCode/*
EMPTools/HLS_arbitrary_Precision_Types/*
TPGStage2Emulation/HLS_arbitrary_Precision_Types
TPGStage2Emulation/CMSSWCode
TPGStage2Emulation/CMSSWCode/*
mapping/*
mapping
data_v11_rx_MsCounter
plots*/*
plots*